.get-all-products-container {
    padding: 20px;
    background-color: black;
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.add-icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    margin-right: 10px;
}

.products-table {
    width: 100%;
    border-collapse: collapse;
}

.products-table th,
.products-table td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: left;
}

.products-table th {
    background-color: rgba(235, 114, 114, 0.8);
    color: white;
}

.products-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.products-table td {
    color: white;
}

.action-icon {
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 20px; 
}

.search-box {
    flex-grow: 1; 
    margin-right: 15px; 
}

.search-input {
    width: 200px; 
    padding: 8px; 
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    background-color: #222; 
    color: white;
}

.restock-button,
.filter-button {
    padding: 10px 15px;
    background-color: #f17070;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    min-width: 120px; 
    max-width: 160px; 
    text-align: center;
    white-space: nowrap;
}

.filter-button {
    background-color: #ff9f00; 
    margin-left: 10px; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form-container {
    background-color: #121212;
    color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    max-height: 80vh; 
    overflow-y: auto;
}
